// ==============================
// Logo
// =============================

.logo-wrapper {
  float: left;

  .logo {
    font-size: $logo-font-size;
    font-family: $logo-font-family;
  }

  .star {
    left: 22px;
    top: 0px;
    position: absolute;
    mix-blend-mode: exclusion;
    z-index: 99;
  }
}

@include max-screen() {
  .logo-wrapper {
    display: none;
  }
}